<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" /> -->


    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">

    <!-- DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />

    <!-- <link rel="stylesheet" th:href="@{/css/style1.css}"> -->
    <link rel="stylesheet" href="../../static/css/style1.css">
    <!-- <link rel="sidebar" href="../fragment/sidebar.html"> -->


    <title>Table Region</title>
</head>

<body>
<!-- 
    <header>
        
    </header> -->
    <main>
        <iframe src="../fragment/sidebar.html"></iframe>
        <!-- <object type="text/html" data="../fragment/sidebar.html"></object> -->

    </main>
        <section class="home-section">


            <div class="home-content">
                <div class="sales-boxes">
                    <div class="recent-sales box">
                        <div class="title">
                            <img src="../img/jam1.png" width="1100" height="350">
                        </div>
                    </div>
                </div>

                <div class="overview-boxes">

                    <div class="box">

                        <div class="right-side">
                            <div class="box-topic">Konfirmasi Data Overtime</div>
                            <div class="number">8</div>
                            <div class="indicator">
                                <a href="DataOvertime.html">
                                    <i class='bx bx-up-arrow-alt'></i>
                                    <span class="text">Detail Info</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    </button>
                    <div class="box">
                        <div class="right-side">
                            <div class="box-topic">Konfirmasi Data Reimburse</div>
                            <div class="number">10</div>
                            <div class="indicator">
                                <a href="DataReimburse.html">
                                    <i class='bx bx-up-arrow-alt'></i>
                                    <span class="text">Detail Info</span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="box">
                        <div class="right-side">
                            <div class="box-topic">Total Data Karyawan</div>
                            <div class="number">10</div>
                            <div class="indicator">
                                <a href="DataReimburse.html">
                                    <i class='bx bx-up-arrow-alt'></i>
                                    <span class="text">Detail Info</span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="box">
                        <div class="right-side">
                            <div class="box-topic">Data Project Belum Selesai</div>
                            <div class="number">3</div>
                            <div class="indicator">
                                <a href="Project.html">
                                    <i class='bx bx-up-arrow-alt'></i>
                                    <span class="text">Detail Info</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <script>
            let sidebar = document.querySelector(".sidebar");
            let sidebarBtn = document.querySelector(".sidebarBtn");
            sidebarBtn.onclick = function () {
                sidebar.classList.toggle("active");
                if (sidebar.classList.contains("active")) {
                    sidebarBtn.classList.replace("bx-menu", "bx-menu-alt-right");
                } else
                    sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
            }
        </script>
   
</body>
<div>
    <!-- <div th:replace="fragment/footer::footer"></div> -->
</div>

</html>