<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <title> HR Dashboard | Group 7 </title>
    <link rel="stylesheet" href="../../static/css/style1.css">

    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="sidebar">
        <div class="logo-details">
            <i><img align="top"  src="../img/overtime.png" width="150" height="150" ></i>
            <!-- <span class="logo_name">Overtime</span> -->
        </div>
        <ul class="nav-links">
            <li>
                <a href="index.html" class="active">
                    <i class='bx bx-grid-alt'></i>
                    <span class="links_name">Dashboard</span>
                </a>
            </li>

            <li>
                <a href="DataReimburse.html" >
                    <i class='bx bx-money'></i>
                    <span class="links_name">Data Reimburse</span>
                </a>
            </li>
            <li>
                <a href="DataOvertime.html">
                    <i class='bx bx-pie-chart-alt-2'></i>
                    <span class="links_name">Data Overtime</span>
                </a>
            </li>

            <li>
                <a href="project.html">
                    <i class='bx bx-book-alt'></i>
                    <span class="links_name">Project</span>
                </a>
            </li>
            <li>
                <a href="karyawan.html">
                    <i class='bx bx-user'></i>
                    <span class="links_name">Karyawan</span>
                </a>
            </li>

            <li>
                <a href="project_karyawan.html">
                    <i class='bx bx-task'></i>
                    <span class="links_name">Projek Karyawan</span>
                </a>
            </li>

            <li>
                <a href="departemen.html">
                    <i class='bx bx-building'></i>
                    <span class="links_name">Departemen</span>
                </a>
            </li>

            <li class="log_out">
                <a href="#">
                    <i class='bx bx-log-out'></i>
                    <span class="links_name">Log out</span>
                </a>
            </li>
        </ul>
    </div>
    <section class="home-section">
        <nav>
            <div class="sidebar-button">
                <i class='bx bx-menu sidebarBtn'></i>
                <span class="dashboard">HR Dashboard</span>
            </div>
            <!-- <div class="search-box">
        <input type="text" placeholder="Search...">
        <i class='bx bx-search' ></i>
      </div> -->
            <div class="dropdown">
                <button class="dropbtn">
                    <i class='bx bxs-user bx-sm'></i>
                </button>
                <div class="dropdown-content">
                    <a href="#">Profil</a>
                    <a href="#">logout</a>
                </div>
            </div>
        </nav>

        <div class="home-content">
            <div class="sales-boxes">
                <div class="recent-sales box">
                    <div class="title1">
                        <img src="../img/jam1.png"  width="1100" height="350">
                    </div>
                </div>
            </div>

            <div class="overview-boxes">
                
                <div class="box">
                    
                    <div class="right-side">
                        <div class="box-topic">Konfirmasi Data Overtime</div>
                        <div class="number">8</div>
                        <div class="indicator">
                            <a href="DataOvertime.html">
                                <i class='bx bx-up-arrow-alt'></i>
                                <span class="text">Detail Info</span>
                            </a>
                        </div>
                    </div>
                </div>
            </button>
                <div class="box">
                    <div class="right-side">
                        <div class="box-topic">Konfirmasi Data Reimburse</div>
                        <div class="number">10</div>
                        <div class="indicator">
                            <a href="DataReimburse.html">
                                <i class='bx bx-up-arrow-alt'></i>
                                <span class="text">Detail Info</span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="box">
                    <div class="right-side">
                        <div class="box-topic">Total Data Karyawan</div>
                        <div class="number">10</div>
                        <div class="indicator">
                            <a href="DataReimburse.html">
                                <i class='bx bx-up-arrow-alt'></i>
                                <span class="text">Detail Info</span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="box">
                    <div class="right-side">
                        <div class="box-topic">Data Project Belum Selesai</div>
                        <div class="number">3</div>
                        <div class="indicator">
                            <a href="Project.html">
                                <i class='bx bx-up-arrow-alt'></i>
                                <span class="text">Detail Info</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <script>
        let sidebar = document.querySelector(".sidebar");
        let sidebarBtn = document.querySelector(".sidebarBtn");
        sidebarBtn.onclick = function () {
            sidebar.classList.toggle("active");
            if (sidebar.classList.contains("active")) {
                sidebarBtn.classList.replace("bx-menu", "bx-menu-alt-right");
            } else
                sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
        }
    </script>
</body>
</html>